on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to test ufbt action
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test Action
        uses: ./ # Uses an action in the root directory
        id: test1
        with:
          use-ufbt-version: 'prerelease'
          sdk-channel: 'dev'
          path: 'test'

      - name: Test Action Again
        uses: ./ # Uses an action in the root directory
        id: test2
        with:
          skip-setup: true
          path: 'test'

      - name: Get the output FAPs
        run: echo "Created ${{ steps.hello.outputs.fap-artifacts }}"