on: [push]

jobs:
  test_ubt_build_action:
    runs-on: ubuntu-latest
    name: A job to test ufbt action
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup ufbt
        uses: ./ # Uses an action in the root directory
        with:
          use-ufbt-version: 'prerelease'
          sdk-channel: 'dev'
          task: 'none'

      - name: Create app
        id: create-app
        shell: bash
        run: |
          mkdir test; cd test
          ufbt create APPID=test

      - name: Build test app
        uses: ./
        id: build-app
        with:
          skip-setup: true
          path: 'test'

      - name: Build test app for unleashed
        uses: ./
        id: build-app-unleashed
        with:
          skip-setup: true
          path: 'test'
          sdk-channel: 'dev'
          sdk-index-url: https://up.unleashedflip.com/directory.json

      - name: Upload app artifacts
        uses: actions/upload-artifact@v3
        with:
          name: app-artifacts
          path: ${{ steps.build-app.outputs.fap-artifacts }}

      - name: Lint app
        uses: ./
        id: lint-app
        with:
          skip-setup: true
          path: 'test'
          task: 'lint'

      - name: Echo lint messages
        if: always()
        run: echo ${{ steps.lint-app.outputs.lint-messages }}
